materialidad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="empresa_sostenible">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="stakeholder" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nombre" type="xsd:string"/>
                            <xsd:element name="descripcion" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:int" use="required"/>
                        <xsd:attribute name="importancia" type="xsd:string" use="required"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="tema_material" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="descripcion" type="xsd:string"/>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:int" use="required"/>
                        <xsd:attribute name="impacto" type="xsd:string" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
